<div class="widget" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <!-- /widget-header -->
  <div class="widget-content">
    <ul class="messages_layout">
        <div class="message_wrap">
          <div class="text">
            <br>
            <h3>Σύνδεση χρηστών με LDAP</h3>
            <p>
              Στο ThesisCs.teilar.gr δεν απαιτείται εγγραφή.</br>
              Η σύνδεση γίνεται μέσω της υπηρεσίας καταλόγου του ΤΕΙ/Θ.</br>
              Τα στοιχεία χρήστη που χρησιμοποιούνται για την ταυτοποίηση είναι το Ονομα Χρήστη (Username) και ο Κωδικός Πρόσβασης (Password).
            </p>
            <p>
              Ο εξυπηρετητής LDAP χρησιμοποιείται ως η κεντρική βάση αποθήκευσης των στοιχείων ταυτότητας (Λογαριασμών)
              των χρηστών και παρέχει λειτουργίες ταυτοποίησης χρήστη για μίας σειρά από υπηρεσίες που παρέχονται από
              το δίκτυο του ΤΕΙ/Θ.</br>
              </p>
            <p>
                Ο χρήστης αποκτά λογαριασμό (Account) μετά από αίτησή του προς το ΚΕ.Δ.Δ. Δικαίωμα απόκτησης λογαριασμού
              και χρήσης των υπηρεσιών του Δικτύου που απαιτούν ταυτοποίηση χρήστη, έχουν οι </br>
              - εκπαιδευτικοί (τακτικοί και ωρομίσθιοι), </br>
              - οι Διοικητικοί υπάλληλοι (μόνιμοι και συμβασιούχοι), </br>
              - το Ειδικό Τεχνικό Προσωπικό και οι τεχνικοί εργαστηρίων, </br>
              - οι εξωτερικοί συνεργάτες που συμμετέχουν σε ερευνητικά και λοιπά προγράμματα του ΤΕΙ/Λ και</br>
              - οι σπουδαστές (προπτυχιακοί και μεταπτυχιακοί) για το διάστημα που διαρκούν οι σπουδές τους.</br>
            </p>
            <p>
              Το ThesisCs.teilar.gr χρησιμοποιεί τον κωδικό σας ΜΟΝΟ για την αυθεντικοποίηση σας στο σύστημα.
              Τα μοναδικά στοιχεία που κρατάει στην βάση είναι Ονοματεπώνυμο,email, Αρ. Μοιτρώου καθώς είναι απαραίτητα για την λειτουργία του συστήματος.
            </p>
            <br>
            <br>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!-- /widget-content -->
</div>
<!-- /widget -->