<div class="widget" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <!-- /widget-header -->
  <div class="widget-content">
    <ul class="messages_layout">
        <div class="message_wrap">
          <div class="text">
            <br>
            <h3>Σύνδεση χρηστών με LDAP</h3></br>
            <p>
              Στο ThesisCs.teilar.gr δεν απαιτείται εγγραφή.</br>
              Η σύνδεση γίνεται μέσω της υπηρεσίας καταλόγου του ΤΕΙ/Θ.</br>
              Τα στοιχεία χρήστη που χρησιμοποιούνται για την ταυτοποίηση είναι το Email Χρήστη (Email) και ο Κωδικός Πρόσβασης (Password).
            </p></br>
            <p>
              Ο εξυπηρετητής LDAP χρησιμοποιείται ως η κεντρική βάση αποθήκευσης των στοιχείων ταυτότητας (Λογαριασμών)
              των χρηστών και παρέχει λειτουργίες ταυτοποίησης χρήστη για μίας σειρά από υπηρεσίες που παρέχονται από
              το δίκτυο του ΤΕΙ/Θ.</br>
              </p>
            <p>
                Ο χρήστης αποκτά λογαριασμό (Account) μετά από αίτησή του προς το ΚΕ.Δ.Δ. Δικαίωμα απόκτησης λογαριασμού
              και χρήσης των υπηρεσιών του Δικτύου που απαιτούν ταυτοποίηση χρήστη, έχουν οι: </br>
            </p>
            <dl class="dl-horizontal">
              <dt>Εκπαιδευτικοί</dt>
              <dd>τακτικοί και ωρομίσθιοι.</dd>
                </br>
              <dt>Διοικητικοί υπάλληλοι</dt>
              <dd>μόνιμοι και συμβασιούχοι.</dd>
                </br>
              <dt>Τεχνικό Προσωπικό</dt>
              <dd>Ειδικό Τεχνικό Προσωπικό και οι τεχνικοί εργαστηρίων.</dd>
                </br>
              <dt>Εξωτερικοί συνεργάτες</dt>
              <dd>που συμμετέχουν σε ερευνητικά και λοιπά προγράμματα του ΤΕΙ/Λ.</dd>
                </br>
              <dt>Σπουδαστές</dt>
              <dd>προπτυχιακοί και μεταπτυχιακοί για το διάστημα που διαρκούν οι σπουδές τους.</dd>
            </dl>
            </br>
            <p>
              Το ThesisCs.teilar.gr χρησιμοποιεί τον κωδικό σας ΜΟΝΟ για την αυθεντικοποίησή σας στο σύστημα.
            </p>
            <br>
            <br>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!-- /widget-content -->
</div>
<!-- /widget -->