<div class="row">

  <div class="span12">

    <div class="error-container">
      <h1>404</h1>

      <h2>Σφάλμα! Η σελίδα που επιλέξατε δεν υπάρχει.</h2>

      <div class="error-details">

      </div> <!-- /error-details -->

      <div class="error-actions">
        <%= link_to 'Επιστροφή στην αρχική',root_path , data: {no_turbolinks: true} , class: "btn btn-large btn-primary" %>


      </div> <!-- /error-actions -->

    </div> <!-- /error-container -->

  </div> <!-- /span12 -->

</div> <!-- /row -->