<div class="widget widget-table action-table">
  <div class="widget-header"> <i class="icon-th-list"></i>
    <h3><%= widgetTitle ? widgetTitle : 'Πρόσφατα ενεργές πτυχιακές!' %>  </h3>
  </div>
  <!-- /widget-header -->
  <div class="widget-content">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th> Τιτλος </th>
        <th> Φοιτητης/ες</th>
      </tr>
      </thead>
      <tbody>
      <%= render partial: 'teachers/share/recently_active_dissertations_table_rows',
                 locals: {activeProject: activeProjects } %>
      </tbody>
    </table>

  </div>
  <!-- /widget-content -->
</div>