<div class="widget">
  <div class="widget-header"> <i class="icon-file"></i>
    <h3> Γρήγορες οδηγίες</h3>
  </div>
  <!-- /widget-header -->
  <div class="widget-content">
    <ul class="messages_layout">
      <li class="from_user left"> <a href="#" class="avatar"></a>
        <div class="message_wrap">
          <div class="info"> <a class="name">Tι είναι το ThesisCs</a>
          </div>
          <div class="text"> Το ThesisCs είναι ένα σύστημα για καταχώριση, εύρεση και έλεγχο πτυχιακών εργασιών
            απο φοιτητές και καθηγητές. </div>
        </div>
      </li>

      <li class="from_user right"> <a href="#" class="avatar"></a>
        <div class="message_wrap">
          <div class="info"> <a class="name">Tί δεν είναι το ThesisCs</a>
          </div>
          <div class="text"> <p>Το ThesisCs δεν αντικαθιστά την διαδικασία του τμήματος για την ανάθεση της πτυχιακής σε κάποιον φοιτητή.</p>
                             <p>Ο φοιτητής επιλέγοντας και παίρνοντας μία πτυχιακή ΠΡΕΠΕΙ να προβεί σε όλες τις απαραίτητες ενέργειες  προς το τμήμα (Δήλωση Ανάθεσης Πτυχιακής κτλ. ) ώστε η πτυχιακή να ισχύει.</p>
                                <%= link_to "Περισσότερα: Πτυχιακή εργασία", 'http://www.cs.teilar.gr/CS/Ptyxiakh.jsp' %></div>
        </div>
      </li>

      <li class="from_user left"> <a href="#" class="avatar"></a>
        <div class="message_wrap">
          <div class="info"> <a class="name">Περισσότερα  </a></div>
          <div class="text">Για περισσότερες οδηγίες επισκεφθείτε τις <%= link_to "Συχνές ερωτήσεις FAQ", "#" %> </div>
        </div>
      </li>
    </ul>
  </div>
  <!-- /widget-content -->
</div>
<!-- /widget -->