<div class="widget widget-nopad">
  <div class="widget-header"> <i class="icon-list-alt"></i>
    <h3> <%= widgetTitle ? widgetTitle : 'Διαθέσιμες Πτυχιακές' %> </h3>
  </div>
  <!-- /widget-header  -->
  <div class="widget-content">
    <ul class="news-items">
      <%= ajax_section id: "page", render:"share/thesis2/widgets/dissertations_for_delivery_list_items" %>
    </ul>
  </div>

  <!-- /widget-content -->
</div>