<% if current_user.student.project_assignments.where(given: true).first %>
    <div class="alert alert-info">
      <p>Έχετε πάρει άλλο θέμα πτυχιακής.</p>
    </div>
<% else %>

<% if @project_is_selected  %>
    <div class="alert alert-info">
     <p>Έχετε εκδηλώσει ενδιαφέρων για το θέμα.</p>
      <strong>Προσοχή!</strong><br/>
      <p>Για να πάρετε το θέμα πρέπει να επικοινωνήσετε με τον καθηγητή.</p>
    </div>
    <%= button_to t('options.buttons.withdrawal_of_interest'),{action: "destroy_assignment" }, {class: "btn btn-danger"} %>
<% else %>
    <%= button_to t('options.buttons.expressions_of_interest'),{action: "create_assignment" }, {class: "btn btn-success"} %>
<% end %>

<% end %>