<div class="alert alert-success">
  <%= plural_students_expressed_interest(@currentProject,true,false,
                                         t('student.project.show.singular.thesis_undertaken_by'),
                                         t('student.project.show.plural.thesis_undertaken_by')) %><br/>
  <strong>
    <% detailsOfStudents.each do |s|  %>
        <%= students_list(s,true) %><br/>
    <% end %>
  </strong><br/>
</div>