    <% @completedProjects.each do |project| %>
        <tr>
          <td>
            <%= link_to project.title, project_path(project.id), {class: "news-item-title"} %>
          </td>
          <td>
            <% project.students.each do |student| %>
                <%= students_list(student,false) %>
            <% end %>
          </td>
        </tr>
    <% end %>


