<div class="widget">
  <div class="widget-header"> <i class="icon-signal"></i>
    <h3> Πρόσφατα ολοκληρωμένες πτυχιακές </h3>
  </div>
  <!-- /widget-header -->
  <div class="widget-content">
    <!-- /area-chart -->
  </div>
  <a class="btn btn-full-width btn-invert btn-support-ask" href="javascript:;">Εμφάνιση Όλων</a>

  <!-- /widget-content -->
</div>