<div class="widget widget-table action-table">
  <div class="widget-header"> <i class="icon-th-list"></i>
    <h3><%= widgetTitle ? widgetTitle : 'Πρόσφατα ενεργές πτυχιακές!' %>  </h3>
  </div>
  <!-- /widget-header -->
  <div class="widget-content">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th> Τιτλος </th>
        <th> Φοιτητης/ες</th>
      </tr>
      </thead>
      <tbody>
        <%= ajax_section id: "activeProjects", render:"share/thesis2/widgets/recently_active_dissertations_table_rows" %>
      </tbody>
    </table>
    <%= ajax_links :section_id => "activeProjectsPage" do %>
        <%= will_paginate @activeProjects, param_name: 'activeProjectsPage' %>
    <% end %>

    <a class="btn btn-full-width btn-invert btn-support-ask" href="javascript:;">Εμφάνιση Όλων</a>
  </div>
  <!-- /widget-content -->
</div>