<div class="widget" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <!-- /widget-header -->
  <div class="widget-content">
    <ul class="messages_layout">
      <li class="left"> <a href="http://tonyf.eu/" class="avatar" target="_blank"><img src="https://avatars3.githubusercontent.com/u/2433615?v=3&s=460" height="70px" width="70px"/> </a>
        <div class="message_wrap">
          <div class="info"> <a class="name"><h2>Διαδικτυακό σύστημα διαχείρισης πτυχιακών εργασιών.</h2></a> <span class="time"> <%= link_to 'ThesisCs Web App', 'http://tonyf.eu/thesiscs-web-app', target: '_blank' %> </span>
          </div>
          <div class="text">
            <br>
            <h3>Λίγα λόγια</h3>
            <p class="fa-align-right">Σχεδίαση & Ανάπτυξη: Φαλέγκος Αντώνιος</p></br>
            <p>Το ThesisCs δημιουργήθηκε στα πλαίσια της πτυχιακής μου εργασίας με επιβλέποντα τον <a href="http://teilar.academia.edu/GKakarontzas"> κ.Γεώργιο Κακαρότζα </a>.</p>
             <p> Η ιδέα καλύπτει βασικές ανάγκες όπως<br>
              - Ευκολότερη εύρεση πτυχιακών εργασιών ανάλογα με τα προσόντα του φοιτητή</br>
              - Οργάνωση όλων των θεμάτων απο το σύνολο τον καθηγητών του τμήματος</br>
              - Ίση κατανομή πτυχιακών απο τους καθηγητές ώστε να μην επιβαρύνονται με τεράστιο όγκο,
               την στιγμή που υπάρχουν διαθέσιμες πτυχιακές απο άλλους συναδέλφους.
             </p><br>

            <h3>Κατασκευή</h3>
            <p>Το σύστημα αναπτύχθηκε με το open source web framework <a href="http://rubyonrails.org/" target="_blank">Ruby On Rails (RoR)</a>  και την βάση δεδομένων <a href="http://www.mysql.com/"> MySQL</a></p>

            <p>Τα templates που χρησιμοποιήθηκαν για την σχεδίαση είναι τα:</br>
            <a href="http://www.egrappler.com/bootstrap-responsive-admin-template/" target="_blank">Bootstrap responsive admin template</a> - <a href="http://www.egrappler.com" target="_blank">egrappler.com</a></br>
            <a href="http://w3layouts.com/minimal-flat-style-bootstrap-responsive-web-template/" target="_blank">Minimal</a> - <a href="http://w3layouts.com/minimal-flat-style-bootstrap-responsive-web-template/" target="_blank">w3layouts.com</a>
            </p>
            <br>
            <br>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!-- /widget-content -->
</div>
<!-- /widget -->