<div class="widget">
  <!-- /widget-header -->
  <div class="widget-content">
    <ul class="messages_layout">
      <li class="left"> <a href="http://tonyf.eu/" class="avatar"><img src="https://avatars3.githubusercontent.com/u/2433615?v=3&s=460" height="70px" width="70px"/> </a>
        <div class="message_wrap">
          <div class="info"> <a class="name"><h2>Διαδικτυακό σύστημα διαχείρισης πτυχιακών εργασιών.</h2></a> <span class="time"> <%= link_to 'ThesisCs Web App', 'http://tonyf.eu/thesiscs-web-app' %> </span>
          </div>
          <div class="text">
            <br>
            <h3>Λίγα λόγια</h3>
            <p>Το ThesisCs δημιουργήθηκε στα πλαίσια της πτυχιακής μου εργασίας με επιβλέποντα τον <a href="http://teilar.academia.edu/GKakarontzas"> κ.Γεώργιο Κακαρότζα </a>.</p>
             <p> Η ιδέα καλύπτει κύριες ανάγκες όπως<br>
              - Ευκολότερη εύρεση πτυχιακών εργασιών ανάλογα με τα προσόντα του φοιτητή</br>
              - Οργάνωση όλων των θεμάτων απο το σύνολο τον καθηγητών του τμηματος</br>
              - Ίση κατανομή πτυχιακών απο τους καθηγητές ώστε να μην επιβαρύνονται με τεράστιο όγκο,
               την στιγμή που υπάρχουν διαθέσιμες πτυχιακές απο άλλους συναδέλφους.
             </p><br>

            <h3>Κατασκευή</h3>
            <p>Το σύστημα αναπτύχθηκε με το open-source web framework <a href="http://rubyonrails.org/">Ruby On Rails (RoR)</a>  σε βάση δεδομένων MySQL</p>

            <br>
            <h3>Ευχαριστίες</h3>
            <p></p>
            <br>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!-- /widget-content -->
</div>
<!-- /widget -->