<div class="row">
  <div class="span6">

    <!-- Theme award procedure modal -->
    <%= render 'welcome/share/modal_award_procedure' %>

    <!-- Widget Statistics -->
    <%= render 'welcome/share/widget_statistics_thesiscs' %>

  </div>

  <div class="row">
    <div class="span6">

      <%= render 'welcome/share/quick_manual' %>

    </div>
  </div>
</div>

