<div class="row">
  <div class="span6">

    <!-- Πτυχιακές για παράδοση-->
    <%= render partial: 'share/thesis2/widgets/dissertations_for_delivery', locals: { widgetTitle: 'Διαθέσιμες Πτυχιακές' } %>
    <!-- /widget -->

  </div>
  <!-- /span6 -->
  <div class="span6">

    <!-- /widget Πρόσφατα ενεργές πτυχιακές-->
    <%= render partial: 'share/thesis2/widgets/recently_active_dissertations', locals: { widgetTitle: 'Πρόσφατα ενεργές πτυχιακές'} %>
    <!-- /widget -->

    <!-- /widget Πρόσφατα ολοκληρωμένες πτυχιακές-->
    <%= render partial: 'share/thesis2/widgets/recently_completed_dissertations' %>
    <!-- /widget -->

  </div>
  <!-- /span6 -->
</div>
<!-- /row -->
