<div class="extra">
  <div class="extra-inner">
    <div class="container">
      <div class="row">
        <div class="span3">
          <h4>
            Σχετικά με το ThesisCs</h4>
          <ul>
            <li><a href="javascript:;">Ποιοι το δημιούργησαν</a></li>
            <li><a href="javascript:;">Web Development Resources</a></li>
            <li><a href="javascript:;">Responsive HTML5 Portfolio Templates</a></li>
            <li><a href="javascript:;">Free Resources and Scripts</a></li>
          </ul>
        </div>
        <!-- /span3 -->
        <div class="span3">
          <h4>
            Support</h4>
          <ul>
            <li><a href="javascript:;">Συχνές ερωτήσεις FAQ</a></li>
            <li><a href="javascript:;">Επικοινωνία </a></li>
            <li><a href="javascript:;">Video Tutorial</a></li>
            <li><a href="javascript:;">Feedback</a></li>
          </ul>
        </div>
        <!-- /span3 -->
        <div class="span3">
          <h4>
            Something Legal</h4>
          <ul>
            <li><a href="javascript:;">Read License</a></li>
            <li><a href="javascript:;">Σύνδεση χρηστών με LDAP</a></li>
          </ul>
        </div>
        <!-- /span3 -->
        <div class="span3">
          <h4>
            Χρήσιμοι σύνδεσμοι</h4>
          <ul>
            <li><a href="http://www.cs.teilar.gr/">Τμήμα Μηχανικών Πληροφορικής T.E.</a></li>
          </ul>
        </div>
        <!-- /span3 -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /extra-inner -->
</div>
<!-- /extra -->
<div class="footer">
  <div class="footer-inner">
    <div class="container">
      <div class="row">
        <div class="span12"> &copy; 2013 <a href="http://www.egrappler.com/">Bootstrap Responsive Admin Template</a>. </div>
        <!-- /span12 -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /footer-inner -->
</div>