<div class="extra">
  <div class="extra-inner">
    <div class="container">
      <div class="row">
        <div class="span3">
          <h4>
            Σχετικά με το ThesisCs</h4>
          <ul>
            <li><a href="javascript:;">Ποιοί το δημιούργησαν</a></li>
          </ul>
        </div>
        <!-- /span3 -->
        <div class="span3">
          <h4>
            Support</h4>
          <ul>
            <li><a href="javascript:;">Συχνές ερωτήσεις FAQ</a></li>
            <li><a href="javascript:;">Επικοινωνία </a></li>
            <li><a href="javascript:;">Tutorial</a></li>
          </ul>
        </div>
        <!-- /span3 -->
        <div class="span3">
          <h4>
            Something Legal</h4>
          <ul>
            <li><a href="javascript:;">Σύνδεση χρηστών με LDAP</a></li>
          </ul>
        </div>
        <!-- /span3 -->
        <div class="span3">
          <h4>
            Χρήσιμοι σύνδεσμοι</h4>
          <ul>
            <li><a href="http://www.cs.teilar.gr/">Τμήμα Μηχανικών Πληροφορικής T.E.</a></li>
            <li><a href="http://noc-portal.teilar.gr/">Κέντρου Διαχείρισης Δικτύου (ΚΕΔΔ) ΤΕΙ Θεσσαλίας.</a> </li>
          </ul>
        </div>
        <!-- /span3 -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /extra-inner -->
</div>
<!-- /extra -->
<div class="footer">
  <div class="footer-inner">
    <div class="container">
      <div class="row">
        <div class="span12"> &copy; 2015 <a href="http://www.tonyf.eu/">Φαλέγκος Αντώνης</a>. </div>
        <!-- /span12 -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /footer-inner -->
</div>