<div class="extra">
  <div class="extra-inner">
    <div class="container">
      <div class="row">
        <div class="span3">
          <h4>
            Σχετικά με το ThesisCs</h4>
          <ul>
            <li> <%= link_to 'Σχεδίαση και Ανάπτυξη ', about_path, data: {no_turbolink: false} %></li>
          </ul>
        </div>
        <!-- /span3 -->
        <div class="span3">
          <h4>
            Υποστήριξη</h4>
          <ul>
            <li><%= link_to 'Συχνές ερωτήσεις FAQ', faq_path, data: {no_turbolink: false} %></li>
            <li><%= mail_to 'thesiscs@teilar.gr', 'Επικοινωνία' %></li>
            <li><a href="javascript:;">Οδηγός χρήσης για Καθηγητές</a></li>
            <li><a href="javascript:;">Οδηγός χρήσης για Φοιτητές</a></li>
          </ul>
        </div>
        <!-- /span3 -->
        <div class="span3">
          <h4>
            Προσωπικά δεδομένα</h4>
          <ul>
            <li><%= link_to 'Σύνδεση χρηστών με LDAP', ldap_path, data: {no_turbolink: false} %></li>
          </ul>
        </div>
        <!-- /span3 -->
        <div class="span3">
          <h4>
            Χρήσιμοι σύνδεσμοι</h4>
          <ul>
            <li><a href="http://www.cs.teilar.gr/" target="_blank" >Τμήμα Μηχανικών Πληροφορικής T.E.</a></li>
            <li><a href="http://www.cs.teilar.gr/CS/Ptyxiakh.jsp" target="_blank"> Πτυχιακή εργασία (Έγγραφα)</a></li>
            <li><a href="http://noc-portal.teilar.gr/" target="_blank">Κέντρου Διαχείρισης Δικτύου (ΚΕΔΔ) ΤΕΙ Θεσσαλίας.</a> </li>
          </ul>
        </div>
        <!-- /span3 -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /extra-inner -->
  <div class="footer">
    <div class="footer-inner">
      <div class="container">
        <div class="row">
          <div class="span12"> 2015 &copy; thesiscs.teilar.gr </div>
          <!-- /span12 -->
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /footer-inner -->
  </div>
</div>
<!-- /extra -->
