<% if Project.where(teacher_id: current_user.teacher, status: ['active', 'pending']).count >= ThesisCs::Application::NUMBER_OF_PENDING_DISSERTATIONS %>
    <% if Project.where(teacher_id: current_user.teacher, status: 'extra').count >= ThesisCs::Application::NUMBER_OF_EXTRA_DISSERTATIONS %>
        <div class="row">
          <div class="span12">
            <div id="target-1" class="widget">
              <div class="widget-content">
               <p>Έχετε τουλάχιστον 10 ανεβασμένες πτυχιακές και 2 επιπλέον στο σύνολο (διαθέσιμες / ενεργές / επιπλέον ).</p>
               <p>Για να προσθέσετε νέες πτυχιακή πρέπει να <strong>ολοκληρωθεί ή να διαγραφεί</strong> κάποια απο τις υπάρχουσες.</p>
              </div>
            </div>
         </div>
        </div>
    <% else %>
        <div class="row">
          <div class="span12">
            <div id="target-1" class="widget">
              <div class="widget-content">
                <p>Έχετε συμπληρώσει το όριο των 10 πτυχιακών εργασιών.</p>
                <p>Μπορείτε να ανεβάσετε ακόμη 2 πτυχιακές, που θα εμφανίζονται στην ενότητα <strong>"Επιπλέον πτυχιακές"</strong>.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="span12">
            <div class="widget widget-nopad">
              <div class="widget-header"><i class="icon-list-alt"></i>
                <h3> Προσθήκη νέας πτυχιακής </h3>
              </div>
              <!-- /widget-header -->
              <div class="widget-content">
                <br/>
        <%= render partial: 'teachers/share/form', locals: {status: 'extra'} %>
              </div>
              <!-- /widget-content -->
            </div>
            <!-- /widget -->
          </div>

          <!-- /span6 -->
        </div>
        <!-- /row -->
    <% end %>
<% else %>
<div class="row">
  <div class="span12">
    <div class="widget widget-nopad">
      <div class="widget-header"><i class="icon-list-alt"></i>
        <h3> Προσθήκη νέας πτυχιακής </h3>
      </div>
      <!-- /widget-header -->
      <div class="widget-content">
        <br/>
        <%= render partial: 'teachers/share/form' %>

      </div>
      <!-- /widget-content -->
    </div>
    <!-- /widget -->
  </div>

  <!-- /span6 -->
</div>
<!-- /row -->

<br/>
<br/>

<% end %>
